@{
    ViewBag.Title = "ROI";
}

<h2>ROI</h2>
<hr />
<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-md-2">Gain From Investment</label>
        <div class="col-md-10">
            <input id="gfi" type="number" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Cost From Investment</label>
        <div class="col-md-10">
            <input id="cfi" type="number" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">ROI:</label>
        <div class="col-md-10" style="margin-top: 6px;">
            <span id="result" style="font-weight:bold"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="calculate" type="button" value="Calculate" class="btn btn-primary" />
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $('#calculate').click(function () {
            if (($('#gfi').val().length > 0) && ($('#cfi').val().length > 0)) {
                var gfi = $('#gfi').val();
                var cfi = $('#cfi').val();
                if (cfi != 0) {
                    var roi = ((gfi - cfi) * 100) / cfi;
                    $('#result').text(roundToTwo(roi) + ' %');
                } else {
                    $('#result').text('undefined');

                }
            }
        });
        function roundToTwo(num) {
            return +(Math.round(num + "e+2") + "e-2");
        }
    });
</script>
